html {
  background-image: url("img/bg1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.outer-clock {
  width: 30rem;
  height: 30rem;
  border: 15px dashed #bfa203;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
}

.clock {
  width: 30rem;
  height: 30rem;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: 10px solid #bfa203;
  border-radius: 50%;
  margin-top: 0;
  margin-left: 50%;
  transform: translateX(-50%);
  position: absolute;
  box-shadow:
    0 0 0 4px rgba(0, 0, 0, 0.1),
    inset 0 0 10px black,
    0 0 10px rgba(0, 0, 0, 0.2);
}

.hand {
  top: 50%;
  background: gold;
  position: absolute;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  transform-origin: 100%;
  transition: all 0.2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.64, 1.74);
}

.second-hand {
  width: 46%;
  height: 4px;
  margin-left: 4%;
  background: #c4c0ac;
  border: 1px solid #bfa203;
  transform: translateY(-2px);
  transform: rotate(90deg);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.minute-hand {
  width: 45%;
  height: 6px;
  margin-left: 5%;
  background: #c4c0ac;
  border: 1px solid #bfa203;
  transform: translateY(-3px);
  transform: rotate(90deg);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.hour-hand {
  width: 35%;
  margin-left: 15%;
  height: 8px;
  background: #c4c0ac;
  border: 1px solid #bfa203;
  transform: translateY(-4px);
  transform: rotate(90deg);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

span {
  font-size: 3rem;
  position: absolute;
}

.twelve {
  margin-left: 50%;
  padding-top: 5px;
  transform: translateX(-50%);
}

.six {
  margin-left: 50%;
  margin-top: 88%;
  transform: translateX(-50%);
}

.three {
  margin-left: 88%;
  margin-top: 50%;
  transform: translateY(-50%);
}

.nine {
  margin-top: 50%;
  transform: translateY(-50%);
  padding-left: 10px;
}
